.intro {
  max-width: 984px;
  margin: auto;
  padding-top: 92px;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding: 88px 48px 0 48px;
}
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 85px 24px 0 24px;
}
}

@media screen and (max-width: 580px) {
  .intro {
    padding: 62px 16px 0 16px;
}
}
