.cover {
  max-width: 1184px;
  margin: 0 auto;
  padding-top: 92px;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 100%;
}
}

@media screen and (max-width: 480px) {
  .cover {
    padding-top: 66px;
}
}
